@model PedidosDeCambioWeb.Models.Pedido

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar</h1>
<h4>Pedido</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div class="row">
                    <div class="col-sm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <label asp-for="Fecha" class="control-label"></label>
                                <input readonly asp-for="Fecha" class="form-control" value="@ViewBag.Fecha" type="text" />
                                <span asp-validation-for="Fecha" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <label class="control-label">Responsable</label>
                                <input readonly class="form-control" value="@ViewBag.ResponsableNombre" type="text" />
                                </div>
                            </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <label asp-for="Causante" class="control-label"></label>
                                <select asp-for="CausanteId" class="form-control" asp-items="@(new SelectList(ViewBag.Causantes, "Id", "Nombre"))">
                                    <option>Elegir un causante...</option>
                                </select>
                                <span asp-validation-for="CausanteId" class="text-danger"></span>
                                </div>
                            </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <label asp-for="Accion" class="control-label"></label>
                                <select asp-for="AccionId" class="form-control" asp-items="@(new SelectList(ViewBag.Acciones, "Id", "Name"))">
                                    <option>Elegir una acción...</option>
                                </select>
                                <span asp-validation-for="AccionId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    <div class="col-sm">
                        <div class="form-group row">
                            <div class="col-sm">
                                <label asp-for="Protocolo" class="control-label"></label>
                                <input asp-for="Protocolo" class="form-control" />
                                <span asp-validation-for="Protocolo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <label asp-for="Motivo" class="control-label"></label>
                                <input asp-for="Motivo" class="form-control" />
                                <span asp-validation-for="Motivo" class="text-danger"></span>
                                </div>
                            </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <label asp-for="Razon" class="control-label"></label>
                                <input asp-for="Razon" class="form-control" />
                                <span asp-validation-for="Razon" class="text-danger"></span>
                                </div>
                            </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <label asp-for="Detalles" class="control-label"></label>
                                <input asp-for="Detalles" class="form-control" />
                                <span asp-validation-for="Detalles" class="text-danger"></span>
                            </div>
                            </div>
                        </div>
                </div>
                
                <div class="form-group row mt-2">
                    <div class="col-sm">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
